doc/exx/G1-inlined.rnc

namespace db = "http://docbook.org/ns/docbook"
namespace ra = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"


## This Relax NG schema was generated from an invisible-XML grammar
##  by ixml-to-rng.xsl, on 2024-07-11.
[ ra:desc = "Relax NG annotations" db:desc = "DocBook" ]
grammar {
  start = url
  [
    db:refname [ "url" ]
    ra:documentation [ "Default rule for nonterminal 'url'" ]
  ]
  url = e.url
  [
    db:refname [ "e.url" ]
    ra:documentation [ "Nonterminal 'url', serialized as element" ]
  ]
  e.url = element url { scheme, authority, path }
  [
    db:refname [ "scheme" ]
    ra:documentation [ "Default rule for nonterminal 'scheme'" ]
  ]
  scheme = a.scheme
  [
    db:refname [ "a.scheme" ]
    ra:documentation [ "Nonterminal 'scheme', serialized as attribute" ]
  ]
  a.scheme =
    attribute scheme {
      # No annotations found, falling back to 'text'.
      text
    }
  [
    db:refname [ "authority" ]
    ra:documentation [ "Default rule for nonterminal 'authority'" ]
  ]
  authority = e.authority
  [
    db:refname [ "e.authority" ]
    ra:documentation [
      "Nonterminal 'authority', serialized as element"
    ]
  ]
  e.authority = element authority { host }
  [
    db:refname [ "host" ]
    ra:documentation [ "Default rule for nonterminal 'host'" ]
  ]
  host = e.host
  [
    db:refname [ "e.host" ]
    ra:documentation [ "Nonterminal 'host', serialized as element" ]
  ]
  e.host =
    element host {
      sub,
      (# can a data element be used?
       text,
       sub)*
    }
  [
    db:refname [ "sub" ]
    ra:documentation [ "Default rule for nonterminal 'sub'" ]
  ]
  sub = h.sub
  [
    db:refname [ "h.sub" ]
    ra:documentation [ "Nonterminal 'sub', not serialized (hidden)" ]
  ]
  h.sub =
    (# can a data element be used?
     text
     | # can a data element be used?
       text
     | # can a data element be used?
       text)+
  [
    db:refname [ "path" ]
    ra:documentation [ "Default rule for nonterminal 'path'" ]
  ]
  path = e.path
  [
    db:refname [ "e.path" ]
    ra:documentation [ "Nonterminal 'path', serialized as element" ]
  ]
  e.path =
    element path {
      (# can a data element be used?
       text,
       (# can a data element be used?
        text
        | # can a data element be used?
          text
        | # can a data element be used?
          text
        | # can a data element be used?
          text)*)+
    }
}
