doc/exx/G1-inlined-L2.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:db="http://docbook.org/ns/docbook"
             xmlns:ra="http://relaxng.org/ns/compatibility/annotations/1.0"
             xmlns:rng="http://relaxng.org/ns/structure/1.0"
             datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
             ra:desc="Relax NG annotations"
             db:desc="DocBook">
   <ra:documentation>This Relax NG schema was generated from an invisible-XML grammar
 by ixml-to-rng.xsl, on 2024-07-11.</ra:documentation>
   <rng:start>
      <rng:ref name="url"/>
   </rng:start>
   <rng:define name="url">
      <db:refname>url</db:refname>
      <ra:documentation>Default rule for nonterminal 'url'</ra:documentation>
      <rng:ref name="e.url"/>
   </rng:define>
   <rng:define name="e.url">
      <db:refname>e.url</db:refname>
      <ra:documentation>Nonterminal 'url', serialized as element</ra:documentation>
      <rng:element name="url">
         <rng:group>
            <rng:ref name="scheme"/>
            <rng:ref name="authority"/>
            <rng:ref name="path"/>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="scheme">
      <db:refname>scheme</db:refname>
      <ra:documentation>Default rule for nonterminal 'scheme'</ra:documentation>
      <rng:ref name="a.scheme"/>
   </rng:define>
   <rng:define name="a.scheme">
      <db:refname>a.scheme</db:refname>
      <ra:documentation>Nonterminal 'scheme', serialized as attribute</ra:documentation>
      <rng:attribute name="scheme">
        <rng:data type="string">
          <rng:param name="pattern">([a-z]|[A-Z]|[0-9])+</rng:param>
        </rng:data>
      </rng:attribute>
   </rng:define>
   <rng:define name="authority">
      <db:refname>authority</db:refname>
      <ra:documentation>Default rule for nonterminal 'authority'</ra:documentation>
      <rng:ref name="e.authority"/>
   </rng:define>
   <rng:define name="e.authority">
      <db:refname>e.authority</db:refname>
      <ra:documentation>Nonterminal 'authority', serialized as element</ra:documentation>
      <rng:element name="authority">
         <rng:group>
            <rng:ref name="host"/>
         </rng:group>
      </rng:element>
   </rng:define>
   <rng:define name="host">
      <db:refname>host</db:refname>
      <ra:documentation>Default rule for nonterminal 'host'</ra:documentation>
      <rng:ref name="e.host"/>
   </rng:define>
   <rng:define name="e.host">
      <db:refname>e.host</db:refname>
      <ra:documentation>Nonterminal 'host', serialized as element</ra:documentation>
      <rng:element name="host">
        <rng:data type="string">
          <rng:param name="pattern">([a-z]|[A-Z]|[0-9])+(\.([a-z]|[A-Z]|[0-9])+)*</rng:param>
        </rng:data>
      </rng:element>
   </rng:define>
   <rng:define name="path">
      <db:refname>path</db:refname>
      <ra:documentation>Default rule for nonterminal 'path'</ra:documentation>
      <rng:ref name="e.path"/>
   </rng:define>
   <rng:define name="e.path">
      <db:refname>e.path</db:refname>
      <ra:documentation>Nonterminal 'path', serialized as element</ra:documentation>
      <rng:element name="path">
        <rng:data type="string">
          <rng:param name="pattern">(/([a-z]|[A-Z]|[0-9]|\.)+)+</rng:param>
        </rng:data>
      </rng:element>
   </rng:define>
</rng:grammar>
